<%- include('partials/header') %>

  <h3 style="text-align:center;margin:20px;color:white">FinancePeer Assignment</h3>
  <h4 style="text-align:center;margin:20px;color:white">Login/SignUp Portal</h4>
<div class="jumbotron centered">

  <div class="container">
      <i style="font-size:74px" class="fa fa-bank fa-6x" ></i>
    <h1 class="display-3">FinancePeer</h1>
    <p class="lead">User Login details is encrypted with Crptography hybrid algorithm</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

