<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i style="font-size:74px" class="fa fa-bank fa-6x" ></i>
    <h1 class="display-3">File Uploaded Successful</h1><br />
    <hr>
      <a class="btn btn-light btn-lg" href="/home" role="button">Log Out</a>

  </div>
</div>
